:root{
    --black: #000;
    --white: #fff;
    --primary: #4ea0ff;
    --secondary: #20A9E5;
    --lighter-secondary: #B1E5F2;
    --light: #808080;
}

body{
    margin: 0;
}

/* #region header */
#app_header{
    background-color:var(--primary);
    background-image: url(../img/pattern.png);
    background-size: 300px;
}


.logo{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 105px;
    width: 200px;
}
/* #endregion */

/* #region main */
main{
    width: 85%;
    margin: auto;
}

.article_title{
    font-size: 3rem;
}

.credits{
    color: var(--light);
    margin: 0;
}

.title{
    margin: 0;
    padding-bottom: 0;
}

#author{
    color: var(--secondary);
    font-weight: 600;
}

.date{
    margin: 0;
}

.tim{
    margin: 0;
}

.highlight{
    background-color: #FFFF00;
}

.table{
    margin: 0%;
    width: 100%;
    text-align: start;
    border-collapse: collapse;
}

.table-head{
    background-color: var(--secondary);
    font-weight: 50;
    text-align: left;
}

.top-table{
    width: 65%;
}

.row{
    background-color: var(--lighter-secondary);
}

.articles{
    color: var(--light);
    font-weight: 600;
}

.bottom-images{
    font-weight: 600;
    position: absolute;
    overflow: hidden;
    float: left;
    display: block;
    color: var(--white);
}

.article-images{
    background: rgba(0, 0, 0, 0);
}