:root{
    --black: #000;
    --white: #fff;
    --primary: #4ea0ff;
    --secondary: #20A9E5;
    --lighter-secondary: #20A9E5;
    --light: #808080;
}

body{
    margin: 0;
}

/* #region header */
#app_header{
    background-color:var(--primary);
    background-image: url(../img/pattern.png);
    background-size: 300px;
}


.logo{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 105px;
    width: 200px;
}
/* #endregion */

/* #region main */
main{
    width: 85%;
    margin: auto;
}

.article_title{
    font-size: 3rem;
}

.credits{
    font-style: var(--light);
    margin: 0;
}

.title{
    margin: 0;
    padding-bottom: 0;
}

#author{
    font-style: var(--lighter-secondary);
}

.date{
    margin: 0;
}

.tim{
    margin: 0;
}